.nav-wrapper{
    background-image: url("../assets/image/festival-musica.jpg");
}

#festivalPoster {
    width: 154px;
    margin-top: 10px;
    margin-left: 5px;
   }
   
   .card .card-title {
    font-size: 58px;
   }
   
   div.userInfo.col.s6 {
    padding-left: 10px;
    padding-right: 10px;
   }
   
   .redesi {
    font-size: 50px;
   }
   
   #profheader {
    background: linear-gradient(to bottom right, #cc0000 0%, #800000 100%);
    color: white;
    font-size: 25px;
    align-items: center;
    height: 45px;
    padding-top: 6px;
    padding-left: 14px;
   }
   
   .userInfo {
    margin-top: 30px;
   }
   
   /*Festival*/
   
   #festivalBackground {
    width: 497px;
    margin-top: -19px;
   }
   
   #chicacool{
    width: 157px;
    height: 149px;
    margin-bottom: 92px;
    margin-left: 24px;
   }
   
   #festInfo {
   background-color: #181818;
   }
   
   .card {
    background-color: #ecefe3;
   }